.navbar__g {
  width: 100%;
  height: 73px;
  position: fixed;
  z-index: 999;
  box-shadow: 0px 1px 10px rgb(212, 209, 209);
  background-color: white;

  .navbar__flex {
    display: flex;
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .express__logo {
      color: #33cccc;
    }

    .navbar__link__items {
      display: flex;
      align-items: center;

      .navbar__link__item {
        margin: 0 30px;
        transition: color 0.5s;

        &:hover {
          color: #33cccc;
        }
      }

      .balans__price__increase {
        color: seagreen;
        margin: 0 20px;
      }

      .balans__price__drop {
        color: red;
        margin: 0 20px;
      }
    }
  }
}
