.user__settings__container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > h1 {
    padding: 0;
    margin: 0;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container__row {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      margin-top: 10px;
      grid-gap: 10px;

      .row__column {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;

        & > button {
          background-color: rgb(89, 168, 89);
          margin: 0px 10px;
          border-radius: 10px;
          border: 1px solid black;
          transition: ease-in-out 1s;
          color: white;
        }

        & > button:hover {
          background-color: green;
          transition: ease-in-out 1s;
        }
      }
    }
  }
}
