// Navbar
.navbar__g {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
  padding: 0px 20px;
  box-shadow: 0px 1px 10px rgb(212, 209, 209);
  background-color: white;
  box-sizing: border-box;

  .navbar__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .express__logo {
      & span {
        color: #33cccc;
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }

    .navbar__link__items {
      display: flex;
      align-items: center;

      .navbar__link__item {
        margin: 0 30px;
        transition: color 0.5s;
        transition: ease-in-out 1s;

        &:hover {
          color: #33cccc;
        }
      }

      .balans__price__increase {
        color: seagreen;
        margin: 0 20px;
      }

      .balans__price__drop {
        color: red;
        margin: 0 20px;
      }
    }
  }
}

// Sidebar
.sidebar__main {
  width: 70px;
  height: 100%;
  position: fixed;
  z-index: 998;
  background-color: #33cccc;
  overflow-x: hidden;

  .sidebar__box__icon {
    padding: 20px;
    color: white;
    transition: background-color 0.5s;
    transition: color 0.5s;
    transition: ease-in-out 1s;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.main__content {
  display: flex;
  width: 100%;
}

.content__page {
  padding: 80px;
  width: 100%;
}
