.filter__column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  & > p {
    margin: 0;
    margin-left: 10;
  }

  .select__filter {
    width: 200px;
    height: 20px;
  }

  & > input {
    width: 20px;
    height: 20px;
  }
}

.packages__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

// Packages list details

.root {
  width: 100%;
}

.main__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .main__info__row {
    width: 50%;
    margin: 20px;

    & > div > p {
      background-color: rgb(247, 241, 241);
      padding: 10px;
    }
  }
}

.buttons__container {
  margin-top: 20px;

  & > button {
    margin-left: 20px;
  }
}
