.delivery__status {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;

  .delivery__box__white {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 2px;
  }

  .delivery__box__success {
    width: 20px;
    height: 20px;
    background-color: rgb(46, 196, 46);
    margin-right: 5px;
  }

  .delivery__box__red {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 5px;
  }

  .delivery__box__yellow {
    width: 20px;
    height: 20px;
    background-color: yellow;
    margin-right: 5px;
  }
}

.newStatus {
  color: rgb(46, 196, 46);
  margin: 10px;
  &:hover {
    background-color: antiquewhite;
    cursor: pointer;
  }
}

td {
  text-align: left;
  padding: 10px;
  font-size: 12px;
}
th {
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.delivery__modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  background-color: white;
  height: 100vh;
  box-shadow: 0px 1px 10px rgb(185, 183, 183);

  .delivery__modal__body__close_modal {
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
      color: red;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .delivery__modal {
    width: 55%;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  .delivery__modal {
    width: 70%;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .delivery__modal {
    width: 90%;
    padding-left: 30px;
  }
}
