.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  .filter__column {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    & > p {
      margin: 0;
      margin-left: 10;
    }

    .select__filter {
      width: 200px;
      height: 20px;
    }

    & > input {
      width: 20px;
      height: 20px;
    }
  }
}

.packages__table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  td {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

// Packages list details

.root {
  width: 100%;
}

.header__info__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  overflow: auto;

  .header__column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .column__row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .package__detail__icons {
        width: 30px;
        height: 20px;
        margin-bottom: 5px;
        color: green;
      }
    }
  }
}

.main__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .main__info__row {
    width: 50%;
    margin: 20px;

    & > div > p {
      background-color: rgb(247, 241, 241);
      padding: 10px;
    }
  }
}

.buttons__container {
  margin-top: 20px;

  & > button {
    margin-left: 20px;
  }
}
